<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="h3 mb-2 mt-4 font-weight-normal text-center">
        <%= t('.title') %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= t('.description_html') %>
    </div>
  </div>
</div>
