.splash-image {
  background: image-url("splash.jpg");
  background-size: cover;
  border-radius: 0 !important;
}

.reference-passage {
  font-family: Tinos, serif !important;
  font-size: 1.2rem !important;
}
