.splash-image {
  background-image: image-url("splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  border-radius: 0 !important;
}

.reference-passage {
  font-family: Tinos, serif !important;
  font-size: 1.2rem !important;
}
