<div class="footer">
  <nav class="navbar navbar-light bg-light py-0 h-100">
    <span class="navbar-text">
      <%= t('.stoic') %>
    </span>
    <ul class="navbar-nav my-2 my-lg-02 flex-row">
      <li class="nav-item">
        <%= link_to octicon('mark-github', height: '24px'), 'https://github.com/zfletch/stoic-commentary', target: '_blank', rel: 'noopener noreferrer', class: 'nav-link p-2' %>
      </li>
    </ul>
</div>
